.arrowholder{
	background: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	height: 1.5em;
	z-index: 999998;
	text-align: center;
}

#headnavbutton{
	margin: 0 auto;
	width: 4.5em;
	height: 1.5em;
	background-repeat: no-repeat;
	background-size: contain;
}

#headnavbutton.down{
	background-image: url("../img/arrow-down.png");
}

#headnavbutton.up {
	background-image: url("../img/arrow-up.png");

}

#headnavbutton:hover {
	cursor: pointer;
}

#headnav {
	display: none;
	position: fixed;
	top: 1.5em;
	width: 100%;
	border-radius: 0 0 0 1em;
	z-index: 999998;
	text-align: center;
	background-color: #fff;
}

#headnav ul {
	display: inline-table;
}

#headnav ul li{
	display: inline-block;
	list-style: none;
	margin-right: 1.5em;
	letter-spacing: .08em;
}

#headnav ul li:hover {
	cursor: pointer;
}

#headnav ul li> a{
	color: black;
}

#headnav .projects {
	display: none;
	border-radius: 0 0 1em 1em;
}

#headnav ul li:hover > .projects {
	display: block;
	position: absolute;
	top: 100%;
	background-color: #fff;
	left: 0;
}

.projects li{
	display: inline-block !important;
	list-style: none;
	position: relative !important;
	margin-right: 1.5em;
	letter-spacing: .08em;
	background-color: #fff;
	z-index: 999998;
}

.fa-edit {
	color: rgba(27, 117, 255, 0.93);
}

.fa-envelope {
	color: #ff0000;
}
