/* 'The Shopping List' styles */

body {
	background: url("../img/slbackground.jpg") black top center;
	background-repeat: no-repeat;
	height: 100%;
	padding: 0 7%;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.content {
	text-align: center;
	background-color: #D3D3D3;
	margin: 2em auto;
	opacity: 0.7;
	width: 19em;
}

hr {
	margin-bottom: 4.5em;
}
.title{
	text-align: center;
}

.title h1{
	font-style: italic;
	letter-spacing: .10em;
}

#submit, #clear {
	border-radius: 1.2em;
}

#submit:hover, #clear:hover{
	cursor: pointer;
}

.shop ul{
	list-style: none;
	padding: 0;
}

.item {
	font-size: 1.25em;
}

.item:hover {
	cursor: pointer;
}

.done {
	text-decoration: line-through;
	font-style: italic;
}

@media only screen and (max-device-width: 700px){
	body {
		padding: 0;
	}

}