/*Top Navigation styling declrations (Including drop-down)*/

.headnavbutton {
	right: 17px;
	top: 11px;
	position: fixed;
	background: url("../img/question.svg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.0625em; 
	height: 1.5em; 
	z-index: 999999;
	
}

.headnavbutton:hover {
	cursor: pointer;
}

.headnav {
	display: none;
	padding: .6em 0;
	position: fixed;
	top: 0;
	right: 0;
	background: #808080;
	border-radius: 0 0 1em 1em;
	z-index: 999998;
}

.headnav ul {
	display: inline-table;
	float: right;
	margin-right: 3.2em;

}

.headnav ul li{
	list-style: none;
	position: relative;
	float: left;
	text-align: left;
	margin-right: 1.5em;
	letter-spacing: .08em;
}

.headnav ul li> a{
	color: black;
	text-decoration: none;
}

.headnav ul li> a:hover {
	text-decoration: none;
	color: #ffffff;
}

.headnav ul ul {
	display: none;
	border-radius: 0 0 1em 1em;

}

.headnav ul li:hover > ul {
	display: block;
	position: absolute;
	top: 100%;
	background: gray;

}

.headnav ul ul li {
	text-align: left;
	list-style-type: circle; 
}



/*End of Top Navigation declarations*/

/* 'The Shopping List' styles */

body {
	background: url("../img/slbackground.jpg") black top center;
	background-repeat: no-repeat;
	height: 100%;
	padding: 0 7%;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.content {
	text-align: center;
	background-color: #D3D3D3;
	margin: 0 auto;
	opacity: 0.7;
	width: 19em;
}

hr {
	margin-bottom: 4.5em;
}

.intro h1{
	font-style: italic;
	letter-spacing: .10em;
}

#submit, #clear {
	border-radius: 1.2em;
}

#submit:hover, #clear:hover{
	cursor: pointer;
}

.shop ul{
	list-style: none;
	padding: 0;
}

.item {
	font-size: 1.25em;
}

.item:hover {
	cursor: pointer;
}

.done {
	text-decoration: line-through;
	font-style: italic;
}