body {
  font-family: "EB Garamond", sans-serif;
  font-size: 2em; }

@keyframes titleAppear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes rollBoxUp {
  from {
    bottom: 0; }
  to {
    top: 15em; } }
.intro {
  margin: 7em auto 0 auto;
  width: 75%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em;
  display: none; }
  .intro p {
    padding-top: 1.75em;
    margin: 0 0 6em 0; }

.introimg {
  height: 9em;
  width: 9.9em;
  border-radius: 5em;
  float: left; }

.what {
  margin: 0 auto;
  width: 50%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em; }
  .what h1 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 auto; }

.contact {
  margin: 0 auto;
  width: 50%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em; }
  .contact h1 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 auto; }

.Home {
  margin: 7em auto 0 auto;
  width: 75%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em; }
  .Home h1 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 auto; }
  .Home h2 {
    font-size: 2em;
    margin: 2.25em auto 0 auto;
    color: #a9a9a9;
    text-align: center;
    text-indent: 0; }

.layout {
  margin: 1.5em auto 1.5em auto;
  display: flex; }
  .layout .layout-image {
    float: left;
    width: 50%;
    text-indent: 0;
    margin: auto; }
    .layout .layout-image img {
      border-radius: 2em; }
  .layout .layout-description {
    float: right;
    width: 50%;
    text-align: justify;
    margin: auto 1em auto 1em; }

.landing-img {
  width: 100%;
  height: 11em; }

.projects-intro {
  margin: 7em auto 0 auto;
  width: 75%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em; }
  .projects-intro h1 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 auto; }
  .projects-intro p {
    text-align: center; }

.project {
  margin: 1.5em auto 0 auto;
  width: 80%;
  text-align: justify;
  text-indent: 2em;
  letter-spacing: 0.02em; }
  .project h1 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 auto; }
  .project h3 {
    font-size: 2.5em;
    margin: 0 auto 15px auto;
    color: #a9a9a9;
    text-align: center; }
  .project .layout {
    margin: 1.5em auto 1.5em auto;
    display: flex; }
    .project .layout .layout-image {
      width: 100%;
      padding: 0; }
    .project .layout .layout-description {
      width: 100%; }

.view {
  margin: 0 auto;
  max-width: 495px;
  height: 370px;
  background: #fff;
  border-radius: 4em; }
  .view.iuzeit {
    background: url("../img/iuzeit.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .view.amelia {
    background: url("../img/amelia-artist.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .view.about {
    background: url("../img/aboutme.jpg");
    background-size: contain;
    background-repeat: no-repeat; }
  .view.ryu {
    background: url("../img/streetfighterlogo.png");
    background-size: contain;
    background-repeat: no-repeat; }
  .view.shopping {
    background: url("../img/shoppinglist.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .view.hotorcold {
    background: url("../img/hotorcold.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .view.wordpress {
    background: url("../img/wordpress.png");
    background-size: contain;
    background-repeat: no-repeat; }
  .view img {
    border-radius: 6em; }

.contact-intro {
  margin: 7em auto 0 auto;
  width: 75%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em;
  text-align: center; }
  .contact-intro h1 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 auto; }

.contact-form {
  margin: 7em auto 0 auto;
  width: 75%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em;
  margin: 0 auto;
  text-align: center;
  text-indent: 0; }
  .contact-form input, .contact-form select, .contact-form textarea {
    width: 50%; }
  .contact-form input, .contact-form select {
    text-align: center; }
  .contact-form .button {
    width: auto; }

.contact-social {
  text-align: center;
  font-size: 30pt;
  list-style: none;
  margin: 0 auto;
  padding: 0; }
  .contact-social li {
    display: inline-block; }

.thank-you {
  margin: 7em auto 0 auto;
  width: 75%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em; }
  .thank-you h1 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 auto; }
  .thank-you a {
    color: #000; }

.about-me {
  margin: 7em auto 0 auto;
  width: 75%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em; }
  .about-me h1 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 auto; }
  .about-me h2 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 28px;
    margin-bottom: 20px;
    margin: 0 auto 1em auto; }
  .about-me h3 {
    font-size: 2em;
    margin: 0 auto 15px auto;
    color: #a9a9a9;
    text-align: center; }

.games-intro {
  margin: 7em auto 0 auto;
  width: 75%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em; }
  .games-intro h1 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 auto; }
  .games-intro p {
    text-align: center; }

.blog-intro {
  margin: 7em auto 0 auto;
  width: 75%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em; }
  .blog-intro h1 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 auto; }
  .blog-intro h2 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 28px;
    margin-bottom: 20px; }

.blog-entries {
  width: 50%;
  margin: auto; }
  .blog-entries .blog-latest {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border: 1px solid gray;
    padding: 0.5em;
    text-decoration: none;
    color: #000; }
    .blog-entries .blog-latest h3 {
      text-align: center;
      margin: auto;
      padding: 0.5em; }
    .blog-entries .blog-latest p {
      grid-column-start: 1;
      grid-column-end: 3;
      text-indent: 1em;
      text-align: justify;
      margin: auto;
      padding: 0.5em; }
    .blog-entries .blog-latest img {
      grid-row-start: 1;
      grid-row-end: 3;
      max-width: 100%; }
  .blog-entries .blog-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0.5em; }
    .blog-entries .blog-display h3 {
      text-align: center;
      margin: auto;
      padding: 0.5em; }
    .blog-entries .blog-display p {
      grid-column-start: 1;
      grid-column-end: 3;
      text-indent: 1em;
      text-align: justify;
      margin: auto;
      padding: 0.5em; }
    .blog-entries .blog-display img {
      grid-row-start: 1;
      grid-row-end: 1;
      max-width: 100%; }

.blog-post-latest {
  margin: 7em auto 0 auto;
  width: 75%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em; }
  .blog-post-latest h1 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 auto; }
  .blog-post-latest h2 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 28px;
    margin-bottom: 20px; }
  .blog-post-latest img {
    max-width: 100%; }

.blog-archive {
  margin: 7em auto 0 auto;
  width: 75%;
  text-align: justify;
  text-indent: 2.5em;
  letter-spacing: 0.02em; }
  .blog-archive h1 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 auto; }
  .blog-archive h2 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 28px;
    margin-bottom: 20px; }
  .blog-archive img {
    max-width: 100%; }

.check-back {
  text-align: center;
  letter-spacing: 0;
  text-indent: 0;
  font-size: 28px;
  margin-bottom: 20px; }

.footer {
  margin: 0 auto;
  height: 5em;
  width: 50%;
  text-align: center;
  position: relative;
  bottom: 0; }
  .footer ul {
    padding: 0; }
    .footer ul li {
      list-style: none;
      display: inline;
      margin: 0 1em 0 1em; }
      .footer ul li a {
        color: #000000; }

.fa-linkedin-square {
  color: #1a53ff; }

.fb_iframe_widget span {
  height: 23px !important; }

@media only screen and (max-width: 700px) {
  body {
    font-size: 10pt; }

  p {
    font-size: 12pt; }

  .head {
    width: 100%;
    margin: 0 auto; }

  .Home {
    margin: 7em auto 0 auto;
    width: 75%; }
    .Home h1 {
      font-size: 2.5em;
      font-weight: bolder;
      margin: 0 auto; }
    .Home h2 {
      font-size: 2em;
      font-weight: lighter;
      margin: 1.5em auto 0 auto;
      color: #a9a9a9; }
    .Home p {
      padding: 1em 0 1em 0;
      margin: 0 auto; }

  .layout {
    margin: 0 auto 1.5em auto;
    display: grid !important;
    grid-template-rows: 50% 50%; }
    .layout .layout-image {
      grid-row-end: row2-end;
      width: 75%;
      text-indent: 0;
      padding: 0; }
    .layout .layout-description {
      grid-row-start: auto;
      width: 100%;
      padding: 0;
      margin: auto; }

  .what, .contact, .projects-intro, .about-me, .games-intro, .contact-intro {
    width: 80%;
    margin: 7em auto 0 auto; }
    .what h1, .contact h1, .projects-intro h1, .about-me h1, .games-intro h1, .contact-intro h1 {
      font-size: 2.5em;
      font-weight: bolder;
      margin: 0 auto;
      text-align: center; }
    .what h3, .contact h3, .projects-intro h3, .about-me h3, .games-intro h3, .contact-intro h3 {
      font-size: 2.5em;
      font-weight: lighter;
      font-style: italic;
      margin: 0 auto 15px auto;
      color: #a9a9a9; }

  hr {
    width: 9%;
    border-radius: 5em;
    border: 0.2em solid #808080;
    opacity: 0.4;
    margin: 1em auto; }

  .project {
    margin: 0 auto;
    width: 75%;
    font-size: 10pt;
    letter-spacing: 0.02em; }
    .project h3 {
      font-size: 2.5em;
      margin: 0 auto 15px auto;
      color: #a9a9a9;
      text-align: center;
      text-indent: 0; }

  .view {
    height: 13em;
    width: 15em; }

  .project h1 {
    font-size: 20pt; }

  .contact-form input, .contact-form select, .contact-form textarea {
    width: 100%; }

  .thank-you {
    width: 75%; }

  .blog-entries {
    width: 75%;
    margin: auto; }
    .blog-entries .blog-latest {
      border: 1px solid gray;
      padding: 0.5em;
      text-decoration: none;
      color: #000; }
      .blog-entries .blog-latest h3 {
        text-align: center;
        margin: auto;
        padding: 0.5em; }
      .blog-entries .blog-latest p {
        grid-column-start: 1;
        grid-column-end: 3;
        text-indent: 1em;
        text-align: justify;
        margin: auto;
        padding: 0.5em; }
      .blog-entries .blog-latest img {
        grid-row-start: 1;
        grid-row-end: 1;
        max-width: 100%; }
    .blog-entries .blog-display h3 {
      text-align: center;
      margin: auto;
      padding: 0.5em; }
    .blog-entries .blog-display p {
      grid-column-start: 1;
      grid-column-end: 3;
      text-indent: 1em;
      text-align: justify;
      margin: auto;
      padding: 0.5em; }
    .blog-entries .blog-display img {
      grid-row-start: 1;
      grid-row-end: 1;
      max-width: 100%; }

  .footer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 15px; } }
@media only screen and (min-width: 1080px) {
  .layout .layout-image img {
    border-radius: 6em; }

  .landing-img {
    width: 100%;
    height: 11em;
    margin: 2em auto;
    padding: 0 2em; }

  .blog-entries {
    width: 75%;
    margin: auto; }
    .blog-entries .blog-latest {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      text-decoration: none;
      color: #000; }
      .blog-entries .blog-latest img {
        grid-row-start: 1;
        grid-row-end: 3;
        max-width: 100%; }
    .blog-entries .blog-display {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr; }
      .blog-entries .blog-display img {
        grid-row-start: 1;
        grid-row-end: 3;
        max-width: 100%; } }

/*# sourceMappingURL=style.css.map */
