=titles
  text-align: center
  letter-spacing: 0
  text-indent: 0
  font-size: 2.5em
  font-weight: bolder
  margin: 0 auto


=sub-titles
  text-align: center
  letter-spacing: 0
  text-indent: 0
  font-size: 28px
  margin-bottom: 20px

=page-intro
  margin: 7em auto 0 auto
  width: 75%
  text-align: justify
  text-indent: 2.5em
  letter-spacing: .02em

body
  font-family: "EB Garamond", sans-serif
  font-size: 2em

@keyframes titleAppear
  from
    opacity: 0
  to
    opacity: 1

@keyframes rollBoxUp
  from
    bottom: 0
  to
    top: 15em

.intro
  +page-intro
  p
    padding-top: 1.75em
    margin: 0 0 6em 0
  display: none

.introimg
  height: 9em
  width: 9.9em
  border-radius: 5em
  float: left

.what
  margin: 0 auto
  width: 50%
  text-align: justify
  text-indent: 2.5em
  letter-spacing: .02em

  h1
    +titles

.contact
  margin: 0 auto
  width: 50%
  text-align: justify
  text-indent: 2.5em
  letter-spacing: .02em


  h1
    +titles

.dallas-seo-experts
  +page-intro

  h1
    +titles

  h2
    font-size: 2em
    margin: 2.25em auto 0 auto
    color: #a9a9a9
    text-align: center
    text-indent: 0

.layout
  margin: 1.5em auto 1.5em auto
  display: flex

  .layout-image
    float: left
    width: 50%
    text-indent: 0
    margin: auto
    & img
      border-radius: 2em

  .layout-description
    float: right
    width: 50%
    text-align: justify
    margin: auto 1em auto 1em

.landing-img
    width: 100%
    height: 11em

.projects-intro
  +page-intro

  h1
    +titles

  p
    text-align: center

.project
  margin: 1.5em auto 0 auto
  width: 80%
  text-align: justify
  text-indent: 2em
  letter-spacing: .02em
  h1
    +titles
  h3
    font-size: 2.5em
    margin: 0 auto 15px auto
    color: #a9a9a9
    text-align: center

  .layout
    margin: 1.5em auto 1.5em auto
    display: flex

    .layout-image
      width: 100%
      padding: 0

    .layout-description
      width: 100%

.view
  margin: 0 auto
  max-width: 495px
  height: 370px
  background: #fff
  border-radius: 4em
  &.iuzeit
    background: url('../img/iuzeit.png')
    background-size: cover
    background-repeat: no-repeat
  &.amelia
    background: url('../img/amelia-artist.png')
    background-size: cover
    background-repeat: no-repeat
  &.about
    background: url('../img/aboutme.jpg')
    background-size: contain
    background-repeat: no-repeat
  &.ryu
    background: url('../img/streetfighterlogo.png')
    background-size: contain
    background-repeat: no-repeat
  &.shopping
    background: url('../img/shoppinglist.jpg')
    background-size: cover
    background-repeat: no-repeat
  &.hotorcold
    background: url('../img/hotorcold.jpg')
    background-size: cover
    background-repeat: no-repeat
  &.wordpress
    background: url('../img/wordpress.png')
    background-size: contain
    background-repeat: no-repeat
  img
    border-radius: 6em

.contact-intro
  +page-intro
  text-align: center

  h1
    +titles

.contact-form
  +page-intro
  margin: 0 auto
  text-align: center
  text-indent: 0
  input, select, textarea
    width: 50%
  input, select
    text-align: center
  .button
    width: auto

.contact-social
  text-align: center
  font-size: 30pt
  list-style: none
  margin: 0 auto
  padding: 0
  li
    display: inline-block

.thank-you
  +page-intro

  h1
    +titles
  a
    color: #000

.about-me
  +page-intro
  h1
    +titles
  h2
    +sub-titles
    margin: 0 auto 1em auto
  h3
    font-size: 2em
    margin: 0 auto 15px auto
    color: #a9a9a9
    text-align: center

.games-intro
  +page-intro

  h1
    +titles
  p
    text-align: center

.blog-intro
  +page-intro

  h1
    +titles
  h2
    +sub-titles

.blog-entries
  width: 50%
  margin: auto

  .blog-latest
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    border: 1px solid gray
    padding: .5em

    h3
      text-align: center
      margin: auto
      padding: .5em

    p
      grid-column-start: 1
      grid-column-end: 3
      text-indent: 1em
      text-align: justify
      margin: auto
      padding: .5em

    img
      grid-row-start: 1
      grid-row-end: 3
      max-width: 100%

  .blog-display
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    padding: .5em

    h3
      text-align: center
      margin: auto
      padding: .5em

    p
      grid-column-start: 1
      grid-column-end: 3
      text-indent: 1em
      text-align: justify
      margin: auto
      padding: .5em

    img
      grid-row-start: 1
      grid-row-end: 1
      max-width: 100%

.blog-post-latest
  +page-intro
  h1
    +titles
  h2
    +sub-titles
  img
    max-width: 100%

.blog-archive
  +page-intro
  h1
    +titles
  h2
    +sub-titles
  img
    max-width: 100%

.check-back
  +sub-titles

.footer
  margin: 0 auto
  height: 5em
  width: 50%
  text-align: center
  position: relative
  bottom: 0
  ul
    padding: 0
    li
      list-style: none
      display: inline
      margin: 0 1em 0 1em
      a
        color: #000000

.fa-linkedin-square
  color: #1a53ff

.fb_iframe_widget span
  height: 23px !important

@media only screen and (max-width: 700px)
  body
    font-size: 10pt
  p
    font-size: 12pt
  .head
    width: 100%
    margin: 0 auto
  .dallas-seo-experts
    margin: 7em auto 0 auto
    width: 75%
    h1
      font-size: 2.5em
      font-weight: bolder
      margin: 0 auto
    h2
      font-size: 2em
      font-weight: lighter
      margin: 1.5em auto 0 auto
      color: #a9a9a9
    p
      padding: 1em 0 1em 0
      margin: 0 auto

  .layout
    margin: 0 auto 1.5em auto
    display: grid !important
    grid-template-rows: 50% 50%
    .layout-image
      grid-row-end: row2-end
      width: 75%
      text-indent: 0
      padding: 0

    .layout-description
      grid-row-start: auto
      width: 100%
      padding: 0
      margin: auto

  .what, .contact, .projects-intro, .about-me, .games-intro, .contact-intro
    width: 80%
    margin: 7em auto 0 auto
    h1
      font-size: 2.5em
      font-weight: bolder
      margin: 0 auto
      text-align: center
    h3
      font-size: 2.5em
      font-weight: lighter
      font-style: italic
      margin: 0 auto 15px auto
      color: #a9a9a9

  hr
    width: 9%
    border-radius: 5em
    border: .2em solid #808080
    opacity: .4
    margin: 1em auto

  .project
    margin: 0 auto
    width: 75%
    font-size: 10pt
    letter-spacing: .02em

    h3
      font-size: 2.5em
      margin: 0 auto 15px auto
      color: #a9a9a9
      text-align: center
      text-indent: 0

  .view
    height: 13em
    width: 15em

  .project h1
    font-size: 20pt

  .contact-form
    input, select, textarea
      width: 100%

  .thank-you
    width: 75%

  .blog-entries
    width: 75%
    margin: auto

    .blog-latest
      border: 1px solid gray
      padding: .5em
      h3
        text-align: center
        margin: auto
        padding: .5em
      p
        grid-column-start: 1
        grid-column-end: 3
        text-indent: 1em
        text-align: justify
        margin: auto
        padding: .5em
      img
        grid-row-start: 1
        grid-row-end: 1
        max-width: 100%

    .blog-display
      h3
        text-align: center
        margin: auto
        padding: .5em
      p
        grid-column-start: 1
        grid-column-end: 3
        text-indent: 1em
        text-align: justify
        margin: auto
        padding: .5em
      img
        grid-row-start: 1
        grid-row-end: 1
        max-width: 100%

  .footer
    margin: 0 auto
    width: 100%
    text-align: center
    font-size: 15px

@media only screen and (min-width: 1080px)
  .layout .layout-image img
    border-radius: 6em

  .landing-img
    width: 100%
    height: 11em
    margin: 2em auto
    padding: 0 2em

  .blog-entries
    width: 75%
    margin: auto

    .blog-latest
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr 1fr

      img
        grid-row-start: 1
        grid-row-end: 3
        max-width: 100%

    .blog-display
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr 1fr

      img
        grid-row-start: 1
        grid-row-end: 3
        max-width: 100%
