body {
    font-family: "EB Garamond", sans-serif;
    font-size: 2em;
}

.head {
    text-align: center;
    margin: 3em auto;
    width: 50%;
}

.head img {
    float: right;
}

.head h1 {
    margin-bottom: -.4em;
    font-size: 4em;
    overflow: hidden;
    width: 100%;
}

.head h2 {
    font-size: 1.7em;
}

#fname {
    position: relative;
    -webkit-animation: rightSlide 2s;
    animation: rightSlide 2s;
}

#lname {
    position: relative;
    -webkit-animation:leftSlide 2s;
    animation:leftSlide 2s;
}

#subTitle {
    opacity: 0;
    -webkit-animation: titleAppear 2s 2s forwards;
    animation: titleAppear 2s 2s forwards;
}

@keyframes rightSlide {
    from {
        right: 15em;
    }
    to {
        right: 0;
    }
}

@keyframes leftSlide {
    from {
        left: 15em;
    }
    to {
        left: 0;
    }
}

@keyframes titleAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.intro {
    margin: 0 auto;
    width: 50%;
    text-align: justify;
    text-indent: 2.5em;
    letter-spacing: .02em;
}

.introimg {
    height: 9em;
    width: 9.9em;
    border-radius: 4em;
    float: left;
}

hr {
    width: 9%;
    border-radius: 5em;
    border: .2em solid #808080;
    opacity: .4;
    margin: 2em auto;
}

.project {
    margin: 0 auto;
    width: 50%;
    text-align: justify;
    text-indent: 2em;
    letter-spacing: .02em;
}

.project h1 {
    text-indent: 0;
    text-align: center;
}

.view {
    margin: 0 auto;
    max-width: 495px;
    height: 370px;
    background: #fff;
    border-radius: 4em;
}

.view.iuzeit {
    background: url('../img/iuzeit.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.view.amelia {
    background: url('../img/amelia-artist.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.view.about {
    background: url('../img/aboutme.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.view.ryu {
    background: url('../img/streetfighterlogo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.view.shopping {
    background: url('../img/shoppinglist.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.view.hotorcold {
    background: url('../img/hotorcold.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.view.wordpress {
    background: url('../img/wordpress.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.view img {
    border-radius: 6em;
}

.footer {
    margin: 0 auto;
    height: 5em;
    width: 50%;
    text-align: center;
}

.footer ul {
    padding: 0;
    padding-top: 2.5em;
}

.footer ul li {
    list-style: none;
    display: inline;
}

.fa-linkedin-square {
    color: #1a53ff;
}

.fa-envelope {
    color: #ff0000;
}


/*Reponsiveness*/

@media only screen and (max-width: 700px) {
    body {
        font-size: 10pt;
    }
    .head {
        width: 100%;
        margin: 0 auto;
    }
    .intro {
        margin: 0 auto;
        width: 75%;
    }
    hr {
        width: 9%;
        border-radius: 5em;
        border: .2em solid #808080;
        opacity: .4;
        margin: 1em auto;
    }
    .project {
        margin: 0 auto;
        width: 75%;
        font-size: 10pt;
        text-align: center;
        letter-spacing: .02em;
    }
    .view {
        height: 13em;
        width: 15em;
    }
    .project h1 {
        font-size: 20pt;
    }
    .footer {
        margin: 0 auto;
        width: 75%;
        text-align: center;
    }
}
