<footer class="footer">
  <ul>
    <ul>
      <li id="home" ng-click="menuClick('home');"><a href="/#home" title="Home"><i class="fa fa-home"></i>Home</a></li>
      <li id="projects" ng-click="menuClick('web-portfolio');"><a href="/#web-portfolio" title="Web Developer Portfolio"><i class="fas fa-briefcase"></i>Web Developer Portfolio</a>
      </li>
      <li id="about" ng-click="menuClick('about-me');"><a href="/#about-me"title="About Me"><i class="fas fa-question"></i>About Me</a></li>
      <!--
      <li id="blogNav" ng-click="menuClick('web-developer-blog');"><a href="/#web-developer-blog" title="Web Developer Blog"><i class="fas fa-pencil-alt"></i>Blog</a></li>
      -->
      <li id="contact" ng-click="menuClick('contact-me');"><a href="/#contact-me" title="Contact Me"><i class="fa fa-envelope"></i>Contact Me</a></li>
      <li id="games" ng-click="menuClick('games');"><a href="/#games" title="Games"><i class="fa fa-gamepad"></i>Games</a></li>
    </ul>
  <p id="hostFoot">Site Hosted by <a href="/#home">Daniel Frank</a></p>

</footer>
