<footer class="footer">
  <ul>
    <li id="dallas-seo-experts" ng-click="menuClick('Dallas-SEO-Experts');"><a href="/#Dallas-SEO-Experts" title="Dallas SEO Experts"><i class="fa fa-home"></i>Dallas SEO Experts</a></li>
    <li id="projects" ng-click="menuClick('dallas-seo-portfolio');"><a href="/#dallas-seo-portfolio" title="Dallas SEO Portfolio"><i class="fa fa-edit"></i>Web Developer Portfolio</a>
    </li>
    <li id="about" ng-click="menuClick('dallas-seo-about');"><a href="/#dallas-seo-about"title="Dallas SEO About"><i class="fa fa-question-circle-o"></i>About</a></li>
    <li id="contact" ng-click="menuClick('dallas-seo-contact');"><a href="/#dallas-seo-contact" title="Dallas SEO Contact"><i class="fa fa-envelope"></i>Contact</a></li>
    <li id="games" ng-click="menuClick('dallas-seo-games');"><a href="/#dallas-seo-games" title="Dallas SEO Games"><i class="fa fa-gamepad"></i>Games</a></li>
  </ul>
  <p id="hostFoot">Site Hosted by <a href="/#Dallas-SEO-Experts">Dallas SEO Experts</a></p>

</footer>
